header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* stays above everything */
}
#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #111111, #01364d);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gradient-text {
    padding-left: 20px;
    font-size: 22px;
    font-weight: 700;
    background: linear-gradient(90deg, #a855f7, #38bdf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 12px rgba(168, 85, 247, 0.6);
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 50px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    transition: color 0.3s;
}
nav ul li a:hover {
    background: linear-gradient(90deg, #a855f7, #38bdf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 12px rgba(168, 85, 247, 0.6);
    cursor: pointer;
}
.hamburger {
  display: none; /* hidden on desktop */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
    .gradient-text{
        font-size: 20px;
    }
  nav {
    position: absolute;
    top: 110px; /* below header */
    right: 0;
    background: #111;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  nav.active {
    height: 220px; /* adjust to fit links */
  }

  nav ul {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .hamburger {
    display: flex;
  }
}